/********************REGISTER AND LOGIN********************/
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f6ff1;
}

.form-div{
    max-width: 40rem;
    padding: 3rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.form-title{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #4d4d4d;
}

.form-form{
    position: relative;
}

.form-form i{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #a1a1a1;
}

.form-form input[type="text"],
.form-form input[type="password"],
.form-form input[type="submit"]{
    border: none;
    border-bottom: 1px solid #afa7a7;
    padding: 10px 10px 10px 40px;
    font-family: "Arial";
    color: #4d4d4d;
    width: 100%;
}

.form-form input[type="submit"]{
    background: #3f6ff1;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.form-form input[type="submit"]:hover{
    opacity: calc(0.8);
}

.form-redirect{
    font-family: "Roboto", sans-serif;
    color: #4d4d4d;
}

.form-redirect span{
    color: #3f6ff1;
}
/********************REGISTER AND LOGIN********************/