nav{
    background: #1da5f1;
}

.navbar-brand{
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    color: white;
}

.nav-link{
    font-family: "Roboto Condensed", sans-serif;
    color: white;
}

.btn-logout{
    font-family: "Roboto Condensed", sans-serif;
    background: #1da5f1;
    color: white;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.btn-logout:hover{
    color: #1da5f1;
    background: white;
}

.title-head{
    font-family: "Calibri";
}

.btn-danger, .btn-warning{
    font-family: "Arial";
    color: #1da5f1;
    background: white;
    border: 2px solid #1da5f1;
    transition: all 0.3s ease;
}

.btn-danger:hover, .btn-warning:hover{
    background: #1da5f1;
    color: white;
    border: 2px solid #1da5f1;

}

.main-table{
    width: 95%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #1da5f1;
    box-shadow: 0 4px 8px hwb(213 32% 9% / 0.8);
}

.main-table thead{
    font-family: "Arial";
    color: #18729f;
}

.main-table tbody{
    font-family: "Calibri";
}

label, input[type="submit"]{
    font-family: "Arial";
}

input[type="text"]{
    font-family: "Calibri";
    border: 1px solid #1da5f1;
    box-shadow: 0 4px 4px rgba(82, 149, 232, 0.4);
}

.btn-create{
    font-family: "Arial";
    background: #1da5f1;
    color: white;
    transition: all 0.3s ease;
    border: none;
}

.btn-create:hover{
    color: #1da5f1;
    background: white;
    border: 2px solid #1da5f1;
}